html {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(#0d263c,#030714) no-repeat fixed;
  background: linear-gradient(#0d263c,#030714) no-repeat fixed;
  color: #ffffff;
  height: 100%;
  margin: 0;
}

h2 {
  color: #9397d8;
  font-size: 22px;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
}

h1 {
  color: #66d9f7;
}

.container {
  max-width: 900px;
  background-color:#333;
}